<?php if($block->getEnable()): ?>
    <div class="<?php echo $block->getCssClasses().' '.$block->getCssColor().' '.$block->getCssPosition().' '.$block->getCssStyle()?>" id="custom-notices"><p><?php echo $block->getDisplayText();?></p></div>
<?php endif; ?>