<?php if($enable = $block->getEnable()):?>
    <?php \Magento\Framework\App\ObjectManager::getInstance()
        ->get('Psr\Log\LoggerInterface')
        ->debug('inside frontend'.$enable);
    ?>
<div class="<?php echo $block->getCssClasses().' '.$block->getCssColor().' '.$block->getCssPosition().' '.$block->getCssStyle()?>" id="custom-notices"><p><?php echo $block->getDisplayText();?></p></div>
<?php endif;?>