// Variables
@white-color: #555555;
@white-background: #f0f0f0;
@red-background: #ee4433;
@black-background: #333333;
@grey-background: #999999;
@blue-background: #3399dd;
@green-background: #22cc77;
@turquoise-background: #11bb99;
@purple-background: #9955bb;
@orange-background: #ee8822;
@yellow-background: #eecc00;

@transform: 45deg;
@left: -45px;
@right: -45px;
@top: 10px;
@bottom: 10px;

.corner-ribbon {
  width:150px;
  background:@red-background;
  position:absolute;
  top:@top;
  left:@left;
  text-align:center;
  line-height:35px;
  letter-spacing:1px;
  color:@white-background;
  transform:rotate(-@transform);
  -webkit-transform:rotate(-@transform);
  font-size:17px;
  z-index:9999999;
}
.corner-ribbon.sticky {
  position:fixed;
}
.corner-ribbon.shadow {
  box-shadow:0 0 3px rgba(0,0,0,0.3);
}
.corner-ribbon.top-left {
  top:@top;
  left:@left;
  transform:rotate(-@transform);
  -webkit-transform:rotate(-@transform);
}
.corner-ribbon.top-right {
  top:@top;
  right:@right;
  left:auto;
  transform:rotate(@transform);
  -webkit-transform:rotate(@transform);
}
.corner-ribbon.bottom-left {
  top:auto;
  bottom:@bottom;
  left:@left;
  transform:rotate(@transform);
  -webkit-transform:rotate(@transform);
}
.corner-ribbon.bottom-right {
  top:auto;
  right:@right;
  bottom:@bottom;
  left:auto;
  transform:rotate(-@transform);
  -webkit-transform:rotate(-@transform);
}
.corner-ribbon.white {
  background:@white-background;
  color:@white-color;
}
.corner-ribbon.black {
  background:@black-background;
}
.corner-ribbon.grey {
  background:@grey-background;
}
.corner-ribbon.blue {
  background:@blue-background;
}
.corner-ribbon.green {
  background:@green-background;
}
.corner-ribbon.turquoise {
  background:@turquoise-background;
}
.corner-ribbon.purple {
  background:@purple-background;
}
.corner-ribbon.red {
  background:@red-background;
}
.corner-ribbon.orange {
  background:@orange-background;
}
.corner-ribbon.yellow {
  background:@yellow-background;
}